#### Q1.What is a database? Differentiate between SQL and NoSQL databases.

#### Answer: A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS)

#### Difference between SQL & NoSQL
#### SQL	
#### 1)RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
#### 2)These databases have fixed or static or predefined schema	
#### 3)These databases are not suited for hierarchical data storage.	
#### 4)These databases are best suited for complex queries	

#### NoSQL
#### 1)Non-relational or distributed database system.
#### 2)They have dynamic schema
#### 3)These databases are best suited for hierarchical data storage.
#### 4)These databases are not so good for complex queries

#### Q2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### Answer: Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database. CREATE,DROP ,ALTER AND TRUNCATE are used to create table as well they used to manipulate table in database

#### 1) CREATE : the CREATE TABLE statement is used to create a new table in a database.

In [ ]:
# example of create :
CREATE TABLE Persons (PersonID int,LastName varchar(255),FirstName varchar(255),Address varchar(255),City varchar(255));

#### 2) DROP : DROP is a DDL(Data Definition Language) command and is used to remove table definition and indexes, data, constraints, triggers etc for that table

In [ ]:
#example of drop: 
DROP TABLE gps_fkey;

#### 3) ALTER: The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.
#### The ALTER TABLE statement is also used to add and drop various constraints on an existing table.

In [ ]:
# example of alter:
ALTER TABLE Customers ADD Email varchar(255);

#### 4) Truncate: TRUNCATE is a DDL(Data Definition Language) command. It is used to delete all the tuples from the table. Like the DROP command, the TRUNCATE command also does not contain a WHERE clause.

In [ ]:
# example of Truncate: 
TRUNCATE TABLE gps_fkey;

#### Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### Answer: A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database.

#### 1)INSERT: The INSERT INTO statement is used to insert new records in a table.

In [ ]:
# example of insert: 
INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country) 
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');

#### 2)UPDATE: The UPDATE statement is used to modify the existing records in a table.

In [ ]:
# example of update:
UPDATE Customers
SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
WHERE CustomerID = 1;

#### 3)DELETE : The DELETE statement is used to delete existing records in a table.

In [ ]:
# example of delete:
DELETE FROM gps_name WHERE CustomerID=3;

#### Q4.What is DQL? Explain SELECT with an example.

#### Answer: The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages.

#### The SELECT command is used to select data from a database. The data returned is stored in a result table, called the result set.

In [ ]:
# example of SELECT with example
SELELCT * FROM GPS_NAME;

#### Q5.Explain Primary Key and Foreign Key.

#### PRIMARY KEY: The PRIMARY KEY constraint uniquely identifies each record in a table.A table can have only one primary key, which may consist of one single or of multiple fields.

#### FOREIGN KEY: The FOREIGN KEY constraint is a key used to link two tables together.A FOREIGN KEY is a field (or collection of fields) in one table that refers to the PRIMARY KEY in another table.

#### Q6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# python code to connect to MySql 
import mysql.connector
# import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

#### Cursor() : A cursor keeps track of the position in the result set, and allows you to perform multiple operations row by row against a result set, with or without returning to the original table. In other words, cursors conceptually return a result set based on tables within the databases

#### execute() : The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text. The results are stored in a new Recordset object if it is a row-returning query. A closed Recordset object will be returned if it is not a row-returning query.

####  Q7. Give the order of execution of SQL clauses in an SQL query.

#### Answer: The order in which the clauses in queries are executed is as follows:
#### 1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
#### 2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
#### 3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.
#### 4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.
#### 5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.
#### 6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.
#### 7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.